/* Projects Secondary */
.projects-secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    max-width: 600px; 
}

.projects-secondary
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.one-project-secondary{
    margin: 10px;
    border: 0.1px solid var(--color-principal);
    padding: 15px;
    text-decoration: none;
    width: 280px;
    height: 120px;
    border: 0.1px solid #30e11534;
    opacity: 0.5;
    border-radius: 12px;
}
.one-project-secondary:hover{
    border: 0.1px solid var(--color-principal);
    opacity: 1;
}
.one-project-secondary h3{
    margin: 0 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: var(--color-principal);
}
.one-project-secondary h4{
    color: #e5e7eb;
    margin: 3px 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.8em;
}
.one-project-secondary div{
    margin: 3px 5px;
    padding: 3px 20px;
}
.one-project-secondary div img{
    width: 30px;
    height: 30px;
}
@media screen and (max-width:630px){
    .one-project-secondary{
        width: 230px;
    }
}

@media screen and (max-width:549px){
    .one-project-secondary{
        width: 200px;
    }
    .one-project-secondary h3{
        font-size: 0.8em;
    }
    .one-project-secondary div img{
        width: 25px;
        height: 25px;
    }

}

@media screen and (max-width:500px){
    .one-project-secondary{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:490px){
    .one-project-secondary{
        padding: 5px;
    }
}

@media screen and (max-width:449px){
    .one-project-secondary{
        width: 300px;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .one-project-secondary h3{
        font-size: 1em;
    }
    .one-project-secondary div img{
        width: 30px;
        height: 30px;
    }
}



