:root {
  --color-principal: #30E115;
}

*{
  margin: 0;
}
body{
  margin: 25px;
  background-color: #000;
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  body {
    margin: 10px;
  }
}

@media screen and (max-width: 500px) {
  body {
    margin: 8px;
  }
}

@media screen and (max-width: 400px) {
  body {
    margin: 5px;
  }
}
#particles-js{
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  z-index: -1;
}